<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mappers.allba.allbaNoteboxMapper">


	<!-- 지원하기 -->
	<insert id="apply" parameterType="hashMap">
		insert into
		${sitename}notebox(boardid, touserid,
		fromuserid, title, content)
		values(#{boardid}, #{touserid}, #{fromuserid}, #{title}, #{content})
	</insert>
	
	<!-- 받은쪽지함 목록 -->
	<select id="receivenotebox" parameterType="hashMap" resultType="com.company.dto.AllbaNoteboxDTO">
		select
		*
		from 
		${sitename}notebox
		where
		touserid = #{userid}
	</select>
	
	<!-- 쪽지 조회 -->
	<select id="viewnote" parameterType="hashMap"
		resultType="com.company.dto.AllbaNoteboxDTO">
		select
		*
		from
		${sitename}notebox
		where
		noteboxid = #{noteboxid}
	</select>
	
	<!-- 쪽지 삭제 -->
	<delete id="deletenote" parameterType="hashMap">
		delete
		from ${sitename}notebox
		where 
		noteboxid = #{noteboxid}
	</delete>
</mapper>